*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
body{
    background-color: aqua;
}
h1{
    text-align: center;
}
.form-container{
    display: flex;
    align-items: self-end;
    gap: 25px;
    margin-top: 80px;
}
label{
    display: block;
}
table{
    margin: 50px 80px;
}